In [1]:
from descriptive_statistics import *

22.714285714285715
4.346938775510203
22.0
21
24
0.8588990018515539

# Substitution method

Just take population analog

In [2]:
l = [22.16, 23.48, 27.21, 25.76, 22.13, 22.27, 24.11, 24.0, 24.69, 24.77, 22.67, 20.01, 21.52, 23.8, 25.38, 24.4, 24.96, 20.21, 23.56, 21.89]

In [3]:
get_avg(l)

23.448999999999998

# Method of moments

$\alpha_s(\theta_1, ... , \theta_p) = m_s, s = 1, ..., p$

where $ \alpha_s = M\zeta^s = \int_{-\infty}^{+\infty} x^s p(x, \theta_1, ..., \theta_p) dx $ - s-th moment of $\zeta$


$m_s = \frac{1}{n} \sum_{n=1}^{n} s^s_i  $  - s-th population moment

In [4]:
l = [17.4, 19.9, 19.9, 19.0, 20.7, 18.2, 18.6, 20.3, 21.7, 20.8, 16.7, 20.3, 22.5, 18.3, 21.1, 16.3, 22.0, 19.5, 18.1, 21.1, 20.0, 21.6, 21.5, 21.1, 23.3, 23.0, 17.8, 19.5, 21.6, 22.9]

In [5]:
a = get_avg(l)

In [6]:
m2 = get_moment(l, 2)

In [7]:
D = m2 - (a*a)
print(D)

3.413788888888803

# Maximum likelihood estimation

In [8]:
import numpy as np

In [9]:
import math

In [10]:
def logPuasson(x,L):
    n = len(x)
    logL = np.log(L)
    
    return - L*n + np.sum(x)*logL - np.sum([np.log(math.factorial(i)) for i in x])

In [11]:
logPuasson([4, 5], 3)

-4.078034975117005

In [12]:
logPuasson([2,  1,  0,  0,  1], 3)

-11.298698025887505

In [13]:
l = [-7.97, -6.95, -7.15, -4.74, -6.9, -11.41, -2.24, -2.74, -11.23, -4.43, -11.7, -0.48, -11.84, -12.74, -8.74, -9.54, -5.11, -5.2, -5.8, -11.65
]

In [14]:
def uniformEstimation(x):
    n = len(x)
    return np.max(x)
def uniformLikelyhood(x,theta):
    n = len(x)
    return (1/theta)**n

In [15]:
arr =[[theta, uniformLikelyhood(l,theta)] for theta in l]
uniform =[uniformLikelyhood(l,theta) for theta in l]

In [16]:
np.min(uniform)

7.88154646077746e-23

In [17]:
arr

[[-7.97, 9.35047281848907e-19],
 [-6.95, 1.4464516066052997e-17],
 [-7.15, 8.201233253864579e-18],
 [-4.74, 3.050936485072497e-14],
 [-6.9, 1.6711605895148432e-17],
 [-11.41, 7.149688350328535e-22],
 [-2.24, 9.886433132237272e-08],
 [-2.74, 1.7578780512140678e-09],
 [-11.23, 9.826636127487322e-22],
 [-4.43, 1.180118111289622e-13],
 [-11.7, 4.327955284419663e-22],
 [-0.48, 2372330.8281286214],
 [-11.84, 3.411661638919957e-22],
 [-12.74, 7.88154646077746e-23],
 [-8.74, 1.4783298539979568e-19],
 [-9.54, 2.5646759892854615e-20],
 [-5.11, 6.7855022260456224e-15],
 [-5.2, 4.785563984999656e-15],
 [-5.8, 5.388155598576356e-16],
 [-11.65, 4.714997781825908e-22]]

In [23]:
import pandas as pd
df = pd.read_csv("sample_2_4.txt"," ")  #второй аргумент задает разделитель

In [24]:
df

    cnt result
0     4      F
1     1      F
2     1      F
3     1      N
4     3      F
5     1      F
6     2      N
7     4      F
8     2      F
9     2      N
10    1      F
11    2      N
12    1      F
13    3      F
14    5      N
15    1      F
16    2      F
17    1      N
18    1      F
19    3      F
20    2      N
21    2      F
22    1      N
23    4      F
24    1      N
25    1      F
26    1      F
27    3      F
28    1      N
29    1      F
..  ...    ...
70    2      F
71    2      F
72    1      F
73    1      F
74    3      N
75    1      F
76    1      N
77    1      F
78    1      F
79    3      F
80    1      F
81    1      F
82    1      F
83    1      F
84    3      F
85    1      F
86    1      F
87    2      F
88    3      F
89    1      N
90    1      F
91    1      F
92    2      F
93    5      F
94    2      N
95    1      F
96    3      F
97    1      F
98    1      F
99    2      F

[100 rows x 2 columns]

In [28]:
pd.value_counts(df['result'])  # degree for p - count of F, for g - count of N

F    78
N    22
Name: result, dtype: int64

In [40]:
(df[df['cnt']>1]['cnt']-1).sum() + 22 # degree for (1-p) sum of searches where total number of searches > 1 but without last searches
#but we count last search of we tired in this episode , so +22

97

In [41]:
# same for (1-g) but we don't count last search in any case
(df[df['cnt']>1]['cnt']-1).sum()

75